body {
  background-color: #EEECE8;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png"); /*temporary*/
  color:#361d10;
}

h1 {
  color: #361d10;
  text-align: center;
}

p {
  font-family: georgia;
  font-size: 20px;
}
#title h1 {
  font-family:"Micro 5", Georgia, mono; 
  color:#361d10;
  font-size: 100px;
  margin: 0;
  padding: 0;
}
#subtitle h1 {
  font-family:"Ole", serif; 
  color:#361d10;
  font-size: 60px;
  margin: 0;
  padding: 0;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d295bf;
  opacity: 0.75;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  font-family:"Henny Penny",Arial,sans-serif;
  text-align: center;
  padding: 14px 75px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #71a2b6;
}
.header {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
/*FONTS*/
.ole-regular {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}
.league-script-regular {
  font-family: "League Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}
.coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}
/*END OF FONTS*/
span {
    padding: 0.6em 13.7px;
    line-height: 1.8em;
}
span.highlight {
background: linear-gradient(104deg, rgba(130, 255, 173,0) 0.9%, rgba(130, 255, 173,1.25) 2.4%, rgba(130, 255, 173,0.5) 5.8%, rgba(130, 255, 173,0.1) 93%, rgba(130, 255, 173,0.7) 96%, rgba(130, 255, 1732,0) 98%), linear-gradient(183deg, rgba(130, 255, 173,0) 0%, rgba(130, 255, 173,0.3) 7.9%, rgba(130, 255, 173,0) 15%);
padding: 0.6em 13.7px;
box-decoration-break: clone;
-webkit-box-decoration-break: clone;
margin: 0;
border-radius: 7.5px;
text-shadow: -12px 12px 9.8px rgba(130, 255, 173,0.7), 21px -18.1px 7.3px rgba(255, 255, 255,1), -18.1px -27.3px 30px rgba(255, 255, 255,1);
}

