body {
  background-color: #EEECE8;
  color:#361d10;
}

h1 {
  color: #361d10;
  text-align: center;
}

p {
  font-family: georgia;
  font-size: 20px;
}
#title h1 {
 font-family:"ole-regular", Arial, serif; 
  color:#361d10;
  font-size: 100px;
}
#subtitle h1 {
 font-family:"ole-regular", Arial, serif; 
  color:#361d10;
  font-size: 60px;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4da6ff;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 75px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #80bfff;
}
.header {
  background-color: #71a2b6;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
.ole-regular {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}
